.item{
    margin: 5rem;
}


/* ############ for about section testimonials ############ */
/* #accordionSectest {
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color: #e9d7c1;
    font-family: 'Open Sans'
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto
}

.carousel-caption {
    position: initial;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

a i {
    background-color: #615342;
    padding: 1.4rem
}

@media(max-width:767px) {
    i {
        padding: 0.8rem
    }
}

.carousel-control-prev {
    justify-content: flex-start
}

.carousel-control-next {
    justify-content: flex-end
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset
} */



/* {
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
} */


.testimonials{
  padding: 40px 0;
  background: #bd8949;
  color: #434343;
  text-align: center;
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.border{
  width: 160px;
  height: 5px;
	color: #b6a188;
  background:#6ab04c ;
  margin: 26px auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

}
.col{
  /* flex: 33.33%;
  max-width: 33.33%; */
  flex: 20%;
  /* max-width: 20%;
  min-height: 20px; */
  /* flex-basis: 20%; */
  box-sizing: border-box;
  padding: 10px;
  
}
.testimonial{
    flex-basis: 20%;
    min-height: 15px;
  background: #f1dfc9;
  padding: 25px;
  
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
	color: #3cb951;
  
  margin-bottom: 20px;
}
.row .testimonial {
  position: relative;
  width: 300px;
  padding: 20px;
  margin:20px;
  background: #b6a188;
}
.row .testimonial::before{
  content: '';
  position: absolute;
  top:0;
  right:0;
  border: 2px solid transparent;

}

.row .testimonial .desc{
  position: relative;
  height: 215px;
  overflow: hidden;
}

.row .testimonial .desc::before{
  content:'';
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent,#b6a188);
}
.row .testimonial.active .desc{
  height: auto;
}
.row .testimonial.active .desc::before{
  display: none;
}
.row .testimonial .desc p{
  font-weight: 300;
  color: #000;
}
.row .testimonial .more{
  position: relative;
  padding: 10px 15px;
  background: #af8e65;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
}
.row .testimonial.active .more{
  background:#d8b68c ;
  color: #000;
}
.row .testimonial .more::before{
  content: 'Read more';
}
.row .testimonial.active .more::before{
  content:'Read Less';
}











@media screen and (max-width:960px) {
.col .testimonial{
  flex: 100%;
  max-width: 80%;
  margin:0 auto;
}
}

@media screen and (max-width:600px) {
.col .testimonial{
  flex: 100%;
  max-width: 100%;
  margin: 0 auto;
}
}
